* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  resize: none;
}

.main-container {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#entrada-container, #salida-container {
  width: 40vw;
  min-height: 85vh;
  box-shadow: 1px 1px 10px 2px;
  background-color: cornflowerblue;
}

#editor {
  width: 40vw;
  min-height: 85vh;
}

#preview > h1 {
  font-size: 1.5em;
  margin: 5px 10px;
}

#preview > h2 {
  font-size: 1.2em;
  margin: 5px 10px;
}

#preview > p {
  margin: 5px 10px;
}

#preview > p > code {
  background: antiquewhite;
}

#preview > pre {
  margin: 5px 15px;
  padding: 5px;
  background-color: antiquewhite;
}

#preview > ul {
  margin: 5px 20px;
  padding: 5px;
}

#preview > blockquote {
  margin: 15px 25px;
  padding: 25px;
  background-color: lightblue;
  font-style: oblique;
}

#preview > p > img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 15px auto;
  object-fit: contain;
}